<!-- <form class="form"  #userForm="ngForm" (ngSubmit)="userSignUp(userForm.value)">
  <input type="text" ngModel name="username" placeholder="username" />
  <input type="password" ngModel name="password" placeholder="password" />
  <input type="password" ngModel name="password_repeat" placeholder="password" />
  <button class="btn btn-primary">Add</button>
</form>




<p style="color: blue;" routerLink = '/forgotPassword'>forgot password</p>
<p style="color: blue;" routerLink = '/removeUser'>Remove User</p> -->


<div class="container">
  <form>
    <label for="F"></label>
  </form>
</div>