<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="box p-3">
                <img src="../../assets/images/Group 39710.png" alt="">
                <h6>Get Prices</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laboriosam, dignissimos,
                     eligendi quaerat qui tenetur ab ducimus sint</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box p-3">
                <img src="../../assets/images/Group 39711.png" alt="">
                <h6 >Covid Safe</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laboriosam, dignissimos,
                     eligendi quaerat qui tenetur ab ducimus sint</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box p-3">
                <img src="../../assets/images/Group 39712.png" alt="">
                <h6>Flexible Payment</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laboriosam, dignissimos,
                     eligendi quaerat qui tenetur ab ducimus sint</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box p-3">
                <img src="../../assets/images/Group 39713.png" alt="">
                <h6>Find the best near you</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laboriosam, dignissimos,
                     eligendi quaerat qui tenetur ab ducimus sint</p>
            </div>
        </div>
    </div>
</div>
