h1{
    text-align: center;
}
.col-md-6{
    position: relative;
    left: 26%;
    align-items: center;
}
form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 8px;
}

input.ng-invalid:focus{
    border: 1px solid red;
}


.error{
    color: red;
}