<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=M+PLUS+1:
wght@300&family=Montserrat:wght@100;200;400&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<div class="container-fluid bg-light p-0">

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-5" style="border-right: 2px solid rgb(71, 70, 70) ;">
                <div>
                    <img class="logo" src="../../assets/images/logo.png" alt="">
                </div>
                <p class="footer-header" style="color: #fff;  opacity: 75%; margin-top: 30px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas deserunt iure exercitationem, 
                    sed impedit atque dolorem quam rem, ullam autem itaque, quasi accusantium. Eligendi, quia odit 
                    praesentium nam maiores aliquid!</p>
            </div>
            <div class="col-lg-3 mt-5" style="border-right: 2px solid rgb(71, 70, 70) ;">
                <h4 style="text-transform: uppercase; color: #fff;">Quick Links</h4>
                <ul class="list-unstyled">
                    <li class="mb-2 text-uppercase opacity-75">
                        <a href="#!" class="text-white" style="text-decoration: none;">Practices</a>
                      </li>
                      <li class="mb-2 text-uppercase opacity-75">
                        <a href="#!" class="text-white" style="text-decoration: none;">products</a>
                      </li>
                      <li class="mb-2 text-uppercase opacity-75">
                        <a href="#!" class="text-white" style="text-decoration: none;">client stories</a>
                      </li>
                      <li class="mb-2 text-uppercase opacity-75">
                        <a href="#!" class="text-white" style="text-decoration: none;">insights</a>
                      </li>
                      <li class="mb-2 text-uppercase opacity-75">
                        <a href="#!" class="text-white" style="text-decoration: none;">about us</a>
                      </li>
                </ul>
            </div>
            <div class="col-lg-3" style="margin-top: 100px; border-right: 2px solid rgb(71, 70, 70) ;">
                <h6 style="color: #fff; opacity: 75%;">KPI | Suite 301 & 308, Building -2 ,Bay Square,P.O Box 121395,Business Bay,Dubai,UAE</h6>
                <div class="d-flex ">
                    <img class="me-2" style=" height: 30px;" src="../../assets/images/phone-icon.png" alt="">
                    <div class="d-flex flex-column">
                        <p style="color: #fff; opacity: 75%;">+971 4 455 10 10</p>
                        <p style="color: #fff; opacity: 75%;">+971 4 455 10 11</p>
                    </div>
                </div>
                <div class="d-flex">
                    <img class="me-2" style=" height: 30px;"  src="../../assets/images/mail-icon.png" alt="">
                    <p style="color: #fff; opacity: 75%;">admin@kpi.co</p>
                </div>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="d-flex flex-column justify-content-between">
                    <input class="mb-2" type="text" placeholder="Name">
                    <input class="mb-2" type="text" placeholder="Email">
                    <input class="mb-2" type="text" placeholder="Message">
                    <button class="btn btn-warning rounded-0" type="button">Submit</button>
                </div>
                    
             </div>
        </div>
        <div style="padding-bottom: 10px;">
            <p class="mt-5" style="text-align: center; color: #fff; opacity: 75%;">Copyright 2021 KPI.co All Rights Reserved. Privacy Policy</p>
        </div>
        
    </div>
</div>