<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Montserrat:wght@100;200;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container mt-5">
    <h1>Recommented Destinations</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/London.png" alt="">
                <h3 class="ms-1">Singapore</h3>
                <p class="ms-1">Singapore is main in Country</p>
                <div class="d-flex justify-content-between">
                    <div class="left d-flex flex-column ms-1">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/Thailand.png" alt="">
                <h3 class="ms-1">Thailand</h3>
                <p class="ms-1">Thailand is main in Country</p>
                <div class="d-flex justify-content-between">
                    <div class="left d-flex flex-column ms-1">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/Paris.png" alt="">
                <h3 class="ms-1">Paris</h3>
                <p class="ms-1">Paris is main in Country</p>
                <div class="d-flex ms-1 justify-content-between">
                    <div class="left d-flex flex-column">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/New Zealand.png" alt="">
                <h3 class="ms-1">New Zealand</h3>
                <p class="ms-1">New Zealand is main in Country</p>
                <div class="d-flex justify-content-between">
                    <div class="left d-flex flex-column ms-1">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/Bora Bora.png" alt="">
                <h3 class="ms-1">Bora Bora</h3>
                <p class="ms-1">Bora Bora is main in Country</p>
                <div class="d-flex justify-content-between">
                    <div class="left d-flex flex-column ms-1">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <img class="img-fluid" src="../../assets/images/London.png" alt="">
                <h3 class="ms-1">London</h3>
                <p class="ms-1">London is main in Country</p>
                <div class="d-flex justify-content-between">
                    <div class="left d-flex flex-column ms-1">
                        <div class="d-flex">
                            <img  src="../../assets/images/Group 39716.png" alt="">
                            <img src="../../assets/images/Group 39717 (1).png" alt="">
                            <img src="../../assets/images/Group 39718.png" alt="">
                        </div>
                        <p>1000 Kms</p>
                    </div>
                    <div class="right me-1" style="text-align: right;">
                        <h4 class="m-0"><i class="fa fa-rupee"></i>38,800</h4>
                        <p>Approx 2 night trip</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
</div>