

<section class="banner-wrapper container mt-3">
    <div class="banner-content text-center">
        <h1>Travel to explore</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quia earum 
            tempore fuga deserunt voluptatum nostrum iusto quo. Iure veritatis facilis natus 
            sint doloremque beatae. Odio non exercitationem quia eveniet. Lorem, ipsum dolor sit 
            amet consectetur adipisicing elit. Distinctio et culpa aspernatur.
             Dignissimos magni qui, eligendi aliquid quo laudantium dolore consectetur
              mollitia soluta, officia porro repellat neque quam temporibus cumque!</p>
        <div class="container bg-body  p-2 w-75">
            <div class="row">
                <div class="col-md-4">
                    <div class="box" style="border-right: 1px solid rgba(0, 0, 0, 0.2);">
                        <h6>Where You Want to go</h6>
                        <input type="text" placeholder="Search your location">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box" style="border-right: 1px solid rgba(0, 0, 0, 0.2);">
                        <h6>Check-In</h6>
                        <input type="text" placeholder="Add Date">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <h6>Check-Out</h6>
                        <input type="text" style="background-color: #f3f2f8;" placeholder="Add Date">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="box">
                        <button class="btn btn-primary ">Explore Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

